.Header {
    text-align: center;
    margin: 40px;
}

.MyCard .card {
    margin: 10px;
    width: 300px;
}
.MyCard .card img {
    padding: 20px;
    border-radius: 24px;
}
.MyCard .card .card-body {
    text-align: center;

    display: flex;
    flex-direction: column;
}
.MyCard .card .badge {
    margin-top: auto;
    width: 100%;
}

.Footer {
    text-align: center;
    margin: 40px;
}
